/* 
COLORS:
    #BE5A64
    #D9C0BE
    #323D45
    #85676C
    #0D1116
*/
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

body{
    font-family: 'Didact Gothic', sans-serif;
    line-height: 2em;
    /*var(--color-secondary)*/
     scroll-behavior: smooth;
     color:var(--color-accent);
}
:root{
    --color-primary:#323D45;
    --color-secondary:#BE5A64;
    --color-accent:#0D1116;
}
/*~~~~~~~~~~~~~~*/
/* SCROLLBAR  */
/*~~~~~~~~~~~~~~*/
/*total width of scroll bar*/
::-webkit-scrollbar{ width: 8px;}

/* color of track */
::-webkit-scrollbar-track{ background-color: var(--color-primary); }
  
/* scrollbar */
::-webkit-scrollbar-thumb{ background-color: var(--color-secondary); }

/* scrollbar hover*/
::-webkit-scrollbar-thumb:hover{ background-color: var(--color-accent); }