/*~~~~~~~~~~~~~~*/
/* Common classes   */
/*~~~~~~~~~~~~~~*/
.row{ display: flex;  justify-content: space-between;}
.column{ display: flex; flex-direction: column;}
.col-equal-3{ flex-basis: calc(100% / 3);}
.col-equal-5{ flex-basis: calc(100% / 5);}
.col-3{ flex-basis: calc(85% / 3);}

.img-block { display: block;}

.hidden{ display: none; }
.visibilty-hidden { visibility: hidden !important;}

.text-center{ text-align: center;}
.text-uppercase{ text-transform: uppercase;}
.text-capitalize{ text-transform: capitalize; }
.font-size-sm{ font-size: 1.1em;}
.content{ max-width: 50em; margin: 0 auto; margin-bottom: 2em;}
a{ text-decoration: none;}

.margin-0{ margin:0; }
.margin-1em{ margin:  1em; }
.margin-bottom-1em{margin-bottom: 1em;}
.margin-bottom-2em{ margin-bottom: 2em;}
.margin-top{ margin-top: auto;}

.padding-2em{ padding: 2em;}
.padding-right-2em{ padding-right: 2em; }

.border-radius-xthin{ border-radius: .2em; }

.heading { font-size: 3em; text-transform: capitalize; margin-bottom: 1em; color:var(--color-primary);}
.title { text-transform: capitalize; color:var(--color-accent); }

.btn-explore{ color:var(--color-accent); transition: all 0.3s ease-in-out 0s;}
.btn-explore:hover{ color:var(--color-secondary); }

.transition-all-ease-in-out{
transition: all 0.7s ease-in-out 0s;
-webkit-transition: all 0.7s ease-in-out 0s;
-moz-transition: all 0.7s ease-in-out 0s;
-ms-transition: all 0.7s ease-in-out 0s;
-o-transition: all 0.7s ease-in-out 0s;
}

.color-secondary{ color: var(--color-secondary);}